---
import ArrowToggle from '@/components/ui/arrow-toggle/arrow-toggle'
import BolivianFlag from '@/assets/icons/flags/bo.svg'

const { year } = Astro.props
---

<header class="header">
  <div class="year-nav">
    <ArrowToggle orientation="left" client:load />
    <span class="year">
      <h2 class="year_v1">{year}</h2>
      <h2 class="year_v2">{year}</h2>
    </span>
    <ArrowToggle orientation="right" client:load />
  </div>

  <div class="nav-flag-container">
    <input type="checkbox" id="menu-toggle" class="menu-checkbox" />

    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <div class="nav-wrapper">
      <nav class="navbar">
        <ul class="nav-links">
          <li class="nav-item"><a href="#about">Sobre FLISoL</a></li>
          <li class="nav-item"><a href="#agenda">Agenda</a></li>
          <li class="nav-item"><a href="#contact">Contacto</a></li>
        </ul>
      </nav>
      <p class="nav-item register-button"><a href="#register">Inscribete</a></p>
    </div>

    <BolivianFlag class="flag" aria-label="Bolivian Flag" role="img" />
  </div>
</header>

<style>
  :global(html) {
    scroll-behavior: smooth;
  }

  .header {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 1000;
  }

  .year-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }

  .year {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
    padding: 1rem 1rem;
  }

  .year_v1 {
    position: absolute;
    color: var(--arrow-color);
    bottom: 20px;
    transition: all 0.5s ease-in-out;
  }

  .year_v2 {
    color: var(--arrow-color-bg);
    left: 0;
    transition: all 0.5s ease-in-out;
  }

  .flag {
    left: 5%;
    border-radius: 10px;
  }

  .navbar {
    right: 5%;
  }

  .nav-flag-container {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    padding-top: 0.5rem;
  }

  .nav-item {
    list-style: none;
  }

  .nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  .register-button a {
    background-color: var(--main-text-color);
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 3px solid black;
    letter-spacing: 1px;
    box-shadow: 4px 4px 0px black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.1s;
  }

  .register-button a:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px black;
  }

  .nav-items-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .menu-checkbox,
  .hamburger {
    display: none;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  @media screen and (max-width: 768px) {
    .header {
      justify-content: space-around;
    }

    .year-nav {
      gap: 0.2rem;
    }

    .year {
      font-size: 1.5rem;
    }

    .flag {
      position: relative;
    }

    .header {
      padding: 0 1rem;
      justify-content: space-between;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      z-index: 1001;
      order: 2;
    }

    .hamburger span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: black;
      transition: all 0.3s ease;
    }

    .flag {
      order: 1;
      width: 40px;
    }

    .nav-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      flex-direction: column;
      padding: 2rem 0;
      gap: 1.5rem;
      border-bottom: 5px solid black;
      display: none;
      opacity: 0;
      transform: translateY(-10px);
      transition: all 0.3s ease;
    }

    .nav-links {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding-left: 0;
    }

    .menu-checkbox:checked ~ .nav-wrapper {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }

    .menu-checkbox:checked ~ .hamburger span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .menu-checkbox:checked ~ .hamburger span:nth-child(2) {
      opacity: 0;
    }
    .menu-checkbox:checked ~ .hamburger span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-flag-container {
      gap: 1rem;
    }
  }
</style>
