.arrow {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: auto;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.1s ease;
  cursor: pointer;
}

.arrow .icon-pressed {
  display: none;
}

.arrow:active:not(.disabled) .icon-default {
  display: none;
}

.arrow:active:not(.disabled) .icon-pressed {
  display: block;
}

@media screen and (max-width: 768px) {
  .arrow {
    width: auto;
    height: auto;
  }
}
