---
import { ClientRouter } from 'astro:transitions'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Flisol.bo</title>
    <ClientRouter />
  </head>
  <body>
    <main transition:animate="fade">
      <slot />
    </main>
  </body>
</html>

<style>
  @font-face {
    font-family: 'Luckiest_Guy';
    src: url('/fonts/LuckiestGuy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html,
  body {
    font-family: 'Luckiest_Guy', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
