:root {
  --white-text-color: #fff;
}

body,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/fonts/Montserrat-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
