name: ESLint Check

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.15.1'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint